@charset "utf-8";
/* CSS Document */
div.ControlsRow, div.HeadersRow{
    font-family: Georgia;
}
div.Canvas{
    font-family: Lucida Console, Georgia;
    font-size: 13px;
    background-color: #ECECEC;
    color: #000;
    border: solid 1px #CECECE;
}
.ObjectBrace{
    color: #0A0;
    font-weight: bold;
}
.ArrayBrace{
    color: #03F;
    font-weight: bold;
}
.PropertyName{
    color: #C00;
    font-weight: bold;
}
.String{
    color: #077;
}
.Number{
    color: #A0A;
}
.Boolean{
    color: #00F;
}
.Function{
    color: #A63;
    text-decoration: italic;
}
.Null{
    color: #00F;
}
.Comma{
    color: #000;
    font-weight: bold;
}
PRE.CodeContainer{
    margin-top: 0px;
    margin-bottom: 0px;
}
PRE.CodeContainer span{

}
PRE.CodeContainer img{
    cursor: pointer;
    border: none;
    margin-bottom: -1px;
}
.CollapsibleViewDetail a{
    padding-left: 10px;
}
.ControlsRow{
    white-space: nowrap;
    font: 11px Georgia;
}
.TabSizeHolder{
    padding-left: 10px;
    padding-right: 10px;
}
.HeaderTitle{
    text-align: right;
    font-size: 11px;
}
.HeaderSubTitle{
    margin-bottom: 2px;
    margin-top: 0px
}
.RawJson{
    width: 99%;
    height: 120px;
}
A.OtherToolsLink{ color: #555; text-decoration: none; }
A.OtherToolsLink:hover{ text-decoration: underline; }

