<div class="form-group-dashed tab-pane fade" role="tabpanel" id="test_set">
    <div class="content_wrap">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                请求数据
            </label>
            <div class="col-sm-6">
                <button class="btn btn-info" type="button" id="send_test">send</button>
                <div class="return_data">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                响应数据
            </label>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</div>
